.body {
    display: grid;
    grid-template-columns: 210px minmax(0, 1fr);
    background-color: #faf9f7;
}

.workspace {
    border-style: dotted;
    border-color: blue;
    /* Temporary */
    height: calc(100dvh - 60px);

    display: flex;
    flex-direction: column;
}
